.headerLink {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.45rem;

  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-decoration: none;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01563rem;

  &:hover {
    background-color: #1e88e5;
  }
}

.active {
  background-color: #1e88e5;
  color: #fff;
}
