.catCard {
  width: 100%;

  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 5px;

  position: relative;

  transition: all 0.1s linear;

  &:hover {
    transform: scale(110%);
    box-shadow: 1px 0px 10px #000000b9;
  }
}
